@import "variables";
@import "font-style";
@import "mixin";
@import "media";

.body {
  background-color: #e4e4e4;
}

a {
  text-decoration: none;
}

.header-padding {
  display: flex;
  padding: 0 30px;
  min-height: 720px;
  background: url("img/header-background.jpg") no-repeat center;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  box-sizing: border-box;
}

.header-wrapper {
  height: 100%;
  overflow: hidden;

  .menu-button {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    float: right;
    max-width: 592px;
    width: 100%;
    align-items: center;

    .nav {
      display: flex;
      justify-content: space-between;
      max-width: 377px;
      width: 100%;
      height: 19px;

      .item {
        @include font-lato;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        &:hover {
          color: $orange-color;
        }
      }
    }

    .button {
      width: 95px;
      height: 39px;
      @include font-lato;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      @include button;

      &:hover {
        opacity: 0.8;
        color: #1D1B1B;
      }
    }
  }

  @include logotip-black;

  &__title {
    margin-top: 150px;
    width: 519px;
    height: 176px;
    @include font-DM-Serif;
    font-size: 64px;
    line-height: 88px;

    .orange-text {
      color: $orange-color;
    }
  }

  &__text {
    @include font-lato;
    font-size: 16px;
    line-height: 146%;
    width: 499px;
    height: 69px;
    margin-top: 17px;
  }

  &__box-button {
    margin-top: 49px;
    display: flex;
    align-items: center;
    max-width: 144px;
  }

  &__button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;


    & img {
      margin: auto;
    }

    &-text {
      @include font-lato;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-left: 13px;
    }
  }
}

//**********************(main POPULAR TOUR PLACE)***********************

.main-padding {
  padding: 0 30px;
}

.section-1 {
  overflow: hidden;
  margin-top: 50px;
  background-color: #FFFFFF;

  &__wrapper-popular-place {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper-title-text {
    width: 679px;
    margin-right: 25px;
  }

  &__title {
    margin: 0;
    @include font-lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }

  &__text {
    margin-top: 20px;
    @include font-lato;
    font-size: 16px;
    line-height: 146%;
  }

  .button {
    @include button;
    width: 133px;
    height: 63px;
    @include font-lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 146%;
    color: #FFFFFF;

    &:hover {
      opacity: 0.8;
      color: #1D1B1B;
    }
  }

  .wrapper-price {
    margin-top: 40px;
    display: flex;
    gap: 29px;

    &__price-box {
      display: flex;
      flex-direction: column;
      max-width: 394px;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }

    &__img {
      max-height: 504px;
      display: flex;
      justify-content: center;
      position: relative;

      & img {
        height: 100%;
      }
    }

    &__box-on-img {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $orange-color;
      width: 70px;
      height: 72px;
      z-index: 5;
      background-color: #FFFFFF;
      bottom: 30px;
      right: 32px;
    }

    &__title {
      margin-top: 20px;
      margin-bottom: 0;
      @include font-lato;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    &__text {
      margin-top: 20px;
      margin-bottom: 0;
      @include font-lato;
      font-size: 16px;
      line-height: 146%;
    }

    &__link {
      max-width: 154px;
      margin-top: 20px;
      margin-bottom: 0;
      @include font-lato;
      font-weight: 500;
      font-size: 16px;
      line-height: 146%;
      color: $orange-color;

      & img {
        margin-left: 12px;
      }
    }
  }

  .wrapper-statistic {
    display: flex;
    justify-content: space-between;
    min-height: 235px;
    height: 100%;
    align-items: center;

    &__box {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      @include font-lato;
      font-weight: 800;
      font-size: 56px;
      line-height: 146%;
    }

    &__text {
      @include font-lato;
      font-size: 32px;
      line-height: 146%;
      text-align: justify;
      color: #1D1B1B;
    }

    .green-text {
      color: $green-text;
    }
  }
}

//*************(main We are a Travel exparts)***************

.section-2 {
  margin-top: 3px;
  background-color: #FFFFFF;

  .line {
    margin-right: 30px;
    max-width: 76px;
    width: 100%;
    border: 1px solid #FF492F;
  }

  &__question {
    margin-top: 128px;
    display: flex;
    align-items: center;
    @include font-lato;
    font-size: 16px;
    line-height: 146%;
    color: $orange-color;

    & img {
      margin-right: 30px;
    }
  }

  &__title {
    margin-top: 40px;
    max-width: 305px;

    @include font-lato;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
  }

  &__text {
    margin-right: 15px;
    margin-top: 20px;
    max-width: 500px;
    @include font-lato;
    font-size: 16px;
    line-height: 146%;
    color: #4A4949
  }

  .button {
    margin-top: 40px;
    width: 141px;
    height: 63px;
    @include button;
    color: #FFFFFF;
  }

  &__box-img {
    margin-top: 121px;
    margin-bottom: 3px;
    max-width: 604px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(34%, 207px) minmax(22%, 137px);
    grid-gap: 30px;
  }


  &__img1 {
    max-width: 100%;
    justify-self: end;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  &__img2 {
    max-width: 100%;
    justify-self: start;
    grid-column: 1/2;
    grid-row: 2/4;
  }

  &__img3 {
    max-width: 100%;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  &__img4 {
    max-width: 100%;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 3/4;

  }
}

//**************(main WE  PROVIDE  THE  BEST  TRIP & TREKKING  TO YOUR  JOURNEY)****************

.padding-left-100 {
  padding-left: 135px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.section-3 {
  position: relative;
  min-height: 789px;
  background-color: #1B1B1B;
  padding-bottom: 21px;

  &__title-img {
    width: 50%;
    margin-top: 128px;
  }

  &__title {
    right: 31px;
    position: relative;
    margin: 0;
    max-width: 480px;
    height: 76px;
    @include font-lato;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
  }

  &__img {
    bottom: -110px;
    position: relative;
    right: 135px;


    & img {
      position: relative;
      //max-width: 704px;
      width: 114%;
      height: 100%;
    }
  }

  &__text-blocks {
    max-width: 50%;
    margin-top: 128px;
  }

  &__text {
    margin: 0;
    max-width: 450px;
    height: 92px;
    @include font-lato;
    font-size: 16px;
    line-height: 146%;
    color: #FFFFFF;
  }

  &__wrapper-blocks {
    margin-top: 98px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 72px 71px;
  }

  &__block-title {
    margin-bottom: 0;
    margin-top: 20px;
    @include font-lato;
    font-weight: 800;
    font-size: 22px;
    line-height: 146%;
    color: #FFFFFF;
  }

  &__block-text {
    margin-bottom: 0;
    margin-top: 20px;
    @include font-lato;
    font-size: 16px;
    line-height: 146%;
    color: #F3F3F3;
    max-width: 247px;
    width: 100%;
  }
}

//***************(FOOTER)**************
.footer {
  margin-top: 125px;
  background: #1D1B1B;
  min-height: 494px;

  @include logotip-white;

  .wrapper-tourplace-and-service {
    display: flex;
    justify-content: space-between;
    max-width: 615px;
    width: 100%;
    margin-right: 100px;
  }

  .wrapper-left {
    &__text {
      margin-top: 45px;
      max-width: 389px;
      min-height: 115px;
      @include font-lato;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
    }

    .wrapper-social-networks {
      max-width: 250px;
      height: 50px;
      display: flex;
      justify-content: space-between;
    }

    .circle-box {
      margin-top: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid #6C6C6C;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }

  .wrapper-center {

    .service-title {
      margin-top: 49px;
      @include font-lato;
      font-weight: 500;
      font-size: 24px;
      line-height: 146%;
      color: #FFFFFF;
    }

    ul {
      margin-top: 46px;
      padding: 0;
    }

    li {
      margin-top: 16px;
      list-style-type: none;
    }

    .service-item {
      padding: 0;
      @include font-lato;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
      text-decoration: none;
    }
  }

  .wrapper-contact {
    margin-right: 150px;
    min-width: 236px;

    .contact-title {
      margin-top: 49px;
      @include font-lato;
      font-weight: 500;
      font-size: 24px;
      line-height: 146%;
      color: #FFFFFF;
    }

    ul {
      list-style-position: inside;
      padding: 0;
      margin-top: 46px;
    }

    li {
      margin-top: 21px;
    }

    .place {
      list-style-image: url("img/place.svg");
    }

    .phone {
      list-style-image: url("img/phone.svg");
    }

    .email {
      list-style-image: url("img/email.svg");
    }

    .item {
      padding: 0;
      @include font-lato;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
      text-decoration: none;
    }
  }

}