@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url(media.css);
html, body {
  scroll-behavior: smooth; }

.body {
  background-color: #e4e4e4; }

a {
  text-decoration: none; }

.button-scroll {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  width: 174px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF492F;
  cursor: pointer;
  transition: 1s ease; }
  .button-scroll:hover {
    background-color: #bd250d; }

.hamburger-menu {
  position: absolute;
  visibility: hidden; }

.wrapper-popup #popup-video {
  display: none; }
.wrapper-popup .popup-video {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  display: none; }
.wrapper-popup #popup-video:checked ~ .popup-video {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7; }
  .wrapper-popup #popup-video:checked ~ .popup-video iframe {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -500px;
    z-index: 9;
    opacity: 1; }
  .wrapper-popup #popup-video:checked ~ .popup-video .background-close-for-popup {
    position: absolute;
    width: 100%;
    height: 100%; }

.header-padding {
  display: flex;
  padding: 0 30px;
  min-height: 720px;
  background: url("img/header-background.jpg") no-repeat center;
  background-size: 100%;
  transition: 0.5s ease-in-out; }
  .header-padding:hover {
    background-size: 104%;
    transition: 0.5s ease-in-out; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  box-sizing: border-box; }

.header-wrapper {
  height: 100%;
  overflow: hidden; }
  .header-wrapper .menu-button {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    float: right;
    max-width: 592px;
    width: 100%;
    align-items: center; }
    .header-wrapper .menu-button .nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 377px;
      width: 100%;
      height: 19px; }
      .header-wrapper .menu-button .nav .item {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        color: #1D1B1B;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        transition: 0.2s ease-in-out; }
        .header-wrapper .menu-button .nav .item:hover {
          font-weight: 800;
          color: #FF492F; }
    .header-wrapper .menu-button .button {
      width: 95px;
      height: 39px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FF492F;
      transition: 0.5s ease-in-out; }
      .header-wrapper .menu-button .button:hover {
        font-weight: 700;
        box-shadow: -3px 3px 5px rgba(210, 48, 24, 0.5);
        color: #1D1B1B; }
      .header-wrapper .menu-button .button:active {
        position: relative;
        top: 2px;
        right: 2px;
        transition: 0.5s ease-in-out; }
  .header-wrapper .wrapper-logo {
    display: flex;
    align-items: center;
    margin-top: 63px;
    height: 44px;
    max-width: 181px;
    box-sizing: border-box; }
    .header-wrapper .wrapper-logo:hover .logo {
      transform: rotateZ(360deg);
      transition: 0.5s ease-in-out; }
  .header-wrapper .logo {
    display: block;
    height: 44px;
    transition: 0.5s ease-in-out; }
  .header-wrapper .logo-name {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 0 18px; }
    .header-wrapper .logo-name .orange-text {
      color: #FF492F; }
  .header-wrapper__title {
    margin-top: 150px;
    width: 519px;
    height: 176px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 64px;
    line-height: 88px; }
    .header-wrapper__title .orange-text {
      color: #FF492F; }
  .header-wrapper__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    width: 499px;
    height: 69px;
    margin-top: 17px; }
  .header-wrapper__box-button {
    margin-top: 49px;
    display: flex;
    align-items: center;
    max-width: 144px;
    cursor: pointer; }
    .header-wrapper__box-button:hover .header-wrapper__button-text {
      color: #d23018;
      transition: 0.5s ease-in-out; }
    .header-wrapper__box-button:hover .header-wrapper__button {
      background-color: #d23018;
      transition: 0.5s ease-in-out; }
  .header-wrapper__button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    transition: 0.5s ease-in-out; }
    .header-wrapper__button img {
      margin: auto; }
    .header-wrapper__button-text {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-left: 13px;
      transition: 0.5s ease-in-out; }

.main-padding {
  padding: 0 30px; }

.section-1 {
  overflow: hidden;
  margin-top: 50px;
  background-color: #FFFFFF; }
  .section-1__wrapper-popular-place {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .section-1__wrapper-title-text {
    width: 679px;
    margin-right: 25px; }
  .section-1__title {
    margin: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px; }
  .section-1__text {
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%; }
  .section-1 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF492F;
    width: 133px;
    height: 63px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: 500;
    font-size: 16px;
    line-height: 146%;
    color: #FFFFFF;
    transition: 0.5s ease-in-out; }
    .section-1 .button:hover {
      font-weight: 800;
      box-shadow: -3px 3px 5px rgba(210, 48, 24, 0.5);
      color: #1D1B1B; }
    .section-1 .button:active {
      position: relative;
      top: 2px;
      right: 2px;
      transition: 0.5s ease-in-out; }
  .section-1 .wrapper-price {
    margin-top: 40px;
    display: flex;
    gap: 29px; }
    .section-1 .wrapper-price__price-box {
      display: flex;
      flex-direction: column;
      max-width: 394px;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      transition: 0.5s ease-in-out; }
      .section-1 .wrapper-price__price-box:hover {
        transform: scale(1.03);
        transition: 0.5s ease-in-out; }
    .section-1 .wrapper-price__img {
      max-height: 504px;
      display: flex;
      justify-content: center;
      position: relative; }
      .section-1 .wrapper-price__img img {
        height: 100%; }
    .section-1 .wrapper-price__box-on-img {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FF492F;
      width: 70px;
      height: 72px;
      z-index: 5;
      background-color: #FFFFFF;
      bottom: 30px;
      right: 32px; }
    .section-1 .wrapper-price__title {
      margin-top: 20px;
      margin-bottom: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px; }
    .section-1 .wrapper-price__text {
      margin-top: 20px;
      margin-bottom: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%; }
    .section-1 .wrapper-price__link {
      max-width: 156px;
      margin-top: 20px;
      margin-bottom: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 500;
      font-size: 16px;
      line-height: 146%;
      color: #FF492F;
      transition: 0.2s ease-in-out; }
      .section-1 .wrapper-price__link img {
        margin-left: 12px; }
      .section-1 .wrapper-price__link:hover {
        font-weight: 800;
        color: #d23018; }
      .section-1 .wrapper-price__link:active {
        position: relative;
        top: 2px;
        left: 2px;
        transition: 0.5s ease-in-out; }
  .section-1 .wrapper-statistic {
    display: flex;
    justify-content: space-between;
    min-height: 235px;
    height: 100%;
    align-items: center; }
    .section-1 .wrapper-statistic__box {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center; }
    .section-1 .wrapper-statistic__title {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 800;
      font-size: 56px;
      line-height: 146%; }
    .section-1 .wrapper-statistic__text {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 32px;
      line-height: 146%;
      text-align: justify;
      color: #1D1B1B; }
    .section-1 .wrapper-statistic .green-text {
      color: #078E14; }

.section-2 {
  margin-top: 3px;
  background-color: #FFFFFF; }
  .section-2 .line {
    margin-right: 30px;
    max-width: 76px;
    width: 100%;
    border: 1px solid #FF492F; }
  .section-2__question {
    margin-top: 128px;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #FF492F; }
    .section-2__question img {
      margin-right: 30px; }
  .section-2__title {
    margin-top: 40px;
    max-width: 305px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%; }
  .section-2__text {
    margin-right: 15px;
    margin-top: 20px;
    max-width: 500px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #4A4949; }
  .section-2 .button {
    margin-top: 40px;
    width: 141px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF492F;
    color: #FFFFFF;
    transition: 0.5s ease-in-out; }
    .section-2 .button:hover {
      font-weight: 800;
      box-shadow: 3px 3px 5px rgba(210, 48, 24, 0.5);
      color: #1D1B1B; }
    .section-2 .button:active {
      position: relative;
      top: 2px;
      left: 2px;
      transition: 0.5s ease-in-out; }
  .section-2__box-img {
    margin-top: 121px;
    margin-bottom: 3px;
    max-width: 604px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 207px  137px;
    grid-gap: 30px; }
  .section-2__img1 {
    max-width: 100%;
    justify-self: end;
    grid-column: 1/2;
    grid-row: 1/3; }
  .section-2__img2 {
    max-width: 100%;
    justify-self: start;
    grid-column: 1/2;
    grid-row: 2/4; }
  .section-2__img3 {
    max-width: 100%;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 1/3; }
  .section-2__img4 {
    max-width: 100%;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 3/4; }

.padding-left-100 {
  padding-left: 135px; }

.flex {
  display: flex;
  justify-content: space-between; }

.section-3 {
  position: relative;
  min-height: 789px;
  background-color: #1B1B1B;
  padding-bottom: 21px; }
  .section-3__title-img {
    width: 50%;
    margin-top: 128px; }
  .section-3__title {
    right: 31px;
    margin: 0;
    max-width: 480px;
    height: 76px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF; }
  .section-3__img {
    bottom: -110px;
    position: relative;
    right: 135px; }
    .section-3__img img {
      position: relative;
      width: 114%;
      height: 100%; }
  .section-3__text-blocks {
    max-width: 50%;
    margin-top: 128px; }
  .section-3__text {
    margin: 0;
    max-width: 450px;
    height: 92px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #FFFFFF; }
  .section-3__wrapper-blocks {
    margin-top: 98px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 72px 71px; }
  .section-3__block-title {
    margin-bottom: 0;
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: 800;
    font-size: 22px;
    line-height: 146%;
    color: #FFFFFF; }
  .section-3__block-text {
    margin-bottom: 0;
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #F3F3F3;
    max-width: 247px;
    width: 100%; }

.section-4 {
  margin-top: 70px;
  background-color: #FFFFFF;
  overflow: hidden; }
  .section-4__wrapper-title {
    margin-top: 128px; }
  .section-4__title {
    margin: 0;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: bold;
    font-size: 32px;
    line-height: 146%; }
  .section-4__text {
    margin: 20px 0 0 0;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #4A4949; }
  .section-4__wrapper__img {
    margin-top: 28px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 1fr); }
  .section-4__img1 {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    transition: 1s; }
    .section-4__img1:hover {
      transform: scale(1.1); }
  .section-4__img2 {
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    transition: 1s; }
    .section-4__img2:hover {
      transform: scale(1.1); }
  .section-4__img3 {
    max-width: 100%;
    grid-column: 3/4;
    grid-row: 1/3;
    transition: 1s; }
    .section-4__img3:hover {
      transform: scale(1.1); }
  .section-4__img4 {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    transition: 1s; }
    .section-4__img4:hover {
      transform: scale(1.1); }
  .section-4__img5 {
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 2/4;
    transition: 1s; }
    .section-4__img5:hover {
      transform: scale(1.1); }
  .section-4__img6 {
    max-width: 100%;
    grid-column: 3/4;
    grid-row: 3/4;
    transition: 1s; }
    .section-4__img6:hover {
      transform: scale(1.1); }

.section-5 {
  box-sizing: border-box;
  background: #F4F4F4;
  height: 560px;
  padding-top: 128px; }
  .section-5__question {
    margin-top: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%; }
  .section-5__title {
    margin: 20px 0 0 0;
    max-width: 348px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: bold;
    font-size: 48px;
    line-height: 146%; }
  .section-5 .wrapper-feedback {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-flow: column; }
    .section-5 .wrapper-feedback .feedback__box {
      position: relative;
      padding: 0 25px 40px 33px;
      box-sizing: border-box;
      margin-top: 42px;
      box-shadow: 0 4px 19px 0 rgba(34, 60, 80, 0.3);
      background-color: #FFFFFF;
      max-width: 393px;
      transition: 0.5s ease-in-out; }
      .section-5 .wrapper-feedback .feedback__box:hover {
        box-shadow: 0 4px 19px 0 #d23018;
        transition: 0.5s ease-in-out; }
    .section-5 .wrapper-feedback .feedback__text {
      margin-top: 68px;
      font-size: 16px;
      line-height: 146%;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B; }
      .section-5 .wrapper-feedback .feedback__text::before {
        margin-right: 10px;
        content: url("img/quotes.svg"); }
    .section-5 .wrapper-feedback .feedback__person {
      display: flex;
      align-items: center;
      margin-top: 80px; }
    .section-5 .wrapper-feedback .feedback__person-img {
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #007EFF; }
    .section-5 .wrapper-feedback .feedback__person-name {
      margin: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%; }
    .section-5 .wrapper-feedback .feedback__person-profession {
      margin: 5px 0 0 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 14px;
      line-height: 146%;
      color: #078E14; }

.empty {
  height: 181px;
  background-color: #FFFFFF; }

.section-6 {
  background-color: #FFFFFF;
  overflow: hidden;
  padding-bottom: 128px; }
  .section-6__title {
    margin-top: 133px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: bold;
    font-size: 48px;
    line-height: 146%; }
  .section-6__wrapper-img {
    margin-top: 27px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .section-6 img {
    width: 100%; }
  .section-6 .hidden-information {
    visibility: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    background: rgba(16, 100, 174, 0.6);
    transform: rotateY(-90deg);
    transition: 0.2s ease-in-out; }
    .section-6 .hidden-information__name {
      margin: 93px auto 0;
      text-align: center;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: bold;
      font-size: 32px;
      line-height: 146%;
      color: #FFFFFF; }
    .section-6 .hidden-information__profession {
      margin: 20px auto 0;
      text-align: center;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%;
      color: #FFFFFF; }
    .section-6 .hidden-information__text {
      margin: 20px auto 0;
      max-width: 250px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 14px;
      line-height: 146%;
      text-align: center;
      color: #F0EDED; }
  .section-6__img1 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img1:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img2 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img2:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img3 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img3:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img4 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img4:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img5 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img5:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img6 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img6:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img7 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img7:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }
  .section-6__img8 {
    position: relative;
    max-width: 310px;
    overflow: hidden; }
    .section-6__img8:hover .hidden-information {
      visibility: visible;
      transition: .7s ease-in-out;
      transform: rotateY(0deg); }

.section-7 {
  display: flex;
  min-height: 435px;
  background: url("img/under-footer-background.jpg") no-repeat center;
  background-size: 100%;
  transition: 1s ease-in-out; }
  .section-7:hover {
    background-size: 110%;
    transition: 1s ease-in-out; }
  .section-7__title {
    margin: 63px 0 0 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: bold;
    font-size: 48px;
    line-height: 146%;
    color: #FFFFFF; }
  .section-7__text {
    margin: 20px 0 0 0;
    max-width: 688px;
    padding-right: 5px;
    box-sizing: border-box;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #F2F2F2; }
  .section-7 .button {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF492F;
    width: 135px;
    height: 63px;
    background: #FFFFFF;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%; }
    .section-7 .button:hover {
      font-weight: 800;
      box-shadow: 0 4px 19px 0 #262626;
      color: #1D1B1B;
      transition: 0.5s ease-in-out; }
    .section-7 .button:active {
      position: relative;
      top: 2px;
      left: 2px;
      transition: 0.5s ease-in-out; }

.footer {
  margin-top: 125px;
  background: #1D1B1B;
  min-height: 494px; }
  .footer .wrapper-logo {
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 44px;
    max-width: 181px;
    box-sizing: border-box; }
    .footer .wrapper-logo:hover .logo {
      transform: rotateZ(360deg);
      transition: 0.5s ease-in-out; }
  .footer .logo {
    display: block;
    height: 44px;
    transition: 0.5s ease-in-out; }
  .footer .logo-name {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 0 18px; }
    .footer .logo-name .orange-text {
      color: #FF492F; }
  .footer .wrapper-tourplace-and-service {
    display: flex;
    justify-content: space-between;
    max-width: 615px;
    width: 100%;
    margin-right: 100px; }
  .footer .wrapper-left__text {
    margin-top: 45px;
    max-width: 389px;
    min-height: 115px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-size: 16px;
    line-height: 146%;
    color: #F2F2F2; }
  .footer .wrapper-left .wrapper-social-networks {
    margin-top: 45px;
    max-width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between; }
  .footer .wrapper-left .circle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #6C6C6C;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 0.5s ease-in; }
    .footer .wrapper-left .circle-box:hover {
      background: #FF492F;
      transition: 0.5s ease-in; }
  .footer .wrapper-center {
    max-width: 86px;
    width: 100%; }
    .footer .wrapper-center .service-title {
      margin-top: 49px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 500;
      font-size: 24px;
      line-height: 146%;
      color: #FFFFFF; }
    .footer .wrapper-center ul {
      margin-top: 46px;
      padding: 0; }
    .footer .wrapper-center li {
      margin-top: 16px;
      list-style-type: none; }
    .footer .wrapper-center .service-item {
      padding: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
      text-decoration: none; }
      .footer .wrapper-center .service-item:hover {
        font-weight: 700;
        color: #FF492F;
        transition: 0.2s ease-in-out; }
  .footer .wrapper-contact {
    margin-right: 150px;
    min-width: 236px; }
    .footer .wrapper-contact .contact-title {
      margin-top: 49px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-weight: 500;
      font-size: 24px;
      line-height: 146%;
      color: #FFFFFF; }
    .footer .wrapper-contact .contact-item {
      margin-top: 46px;
      display: flex;
      flex-direction: column;
      gap: 21px; }
    .footer .wrapper-contact .place {
      display: flex;
      align-items: center;
      padding: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
      text-decoration: none; }
      .footer .wrapper-contact .place:hover {
        color: #FF492F;
        transition: 0.2s ease-in-out; }
    .footer .wrapper-contact .place::before {
      content: url("img/place.svg");
      padding-right: 19px; }
    .footer .wrapper-contact .phone {
      display: flex;
      align-items: center;
      padding: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
      text-decoration: none; }
      .footer .wrapper-contact .phone:hover {
        color: #FF492F;
        transition: 0.2s ease-in-out; }
    .footer .wrapper-contact .phone::before {
      content: url("img/phone.svg");
      padding-right: 19px; }
    .footer .wrapper-contact .email {
      display: flex;
      align-items: center;
      padding: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #1D1B1B;
      font-size: 16px;
      line-height: 146%;
      color: #F2F2F2;
      text-decoration: none; }
      .footer .wrapper-contact .email:hover {
        color: #FF492F;
        transition: 0.2s ease-in-out; }
    .footer .wrapper-contact .email::before {
      content: url("img/email.svg");
      padding-right: 19px; }
  .footer .line {
    margin-top: 57px;
    border-top: 1px solid #4A4949;
    width: 100%; }

@media (max-width: 1399.98px) {
  .button-scroll {
    width: 130px;
    height: 140px; }
    .button-scroll:hover {
      background-color: #bd250d; }

  .header-padding {
    background-size: cover;
    transition: none; }
    .header-padding:hover {
      background-size: cover;
      transition: none; }

  .section-7 {
    background-size: cover;
    transition: none; }
    .section-7:hover {
      background-size: cover;
      transition: none; } }
@media (max-width: 991.98px) {
  .menu-button {
    visibility: hidden; }

  #menu__hamburger {
    display: none; }

  .hamburger-menu {
    position: relative;
    visibility: visible; }

  .menu__hamburger-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 1; }

  .menu__hamburger-button > span,
  .menu__hamburger-button > span::before,
  .menu__hamburger-button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d23018;
    transition: .5s ease-in-out; }

  .menu__hamburger-button > span::before {
    content: '';
    top: -11px; }

  .menu__hamburger-button > span::after {
    content: '';
    top: 11px; }

  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 50px;
    right: 0;
    width: 200px;
    height: 120px;
    margin: 0;
    padding: 60px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); }

  .menu__item {
    display: block;
    padding: 12px 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #1D1B1B;
    font-weight: 700;
    color: #FF492F; }
    .menu__item:first-letter {
      color: #FFFFFF; }

  .menu__item:hover {
    background-color: #CFD8DC; }

  #menu__hamburger:checked ~ .menu__hamburger-button > span {
    transform: rotate(45deg);
    transition: .5s ease-in-out; }

  #menu__hamburger:checked ~ .menu__hamburger-button > span::before {
    top: 0;
    transform: rotate(0);
    transition: .5s ease-in-out; }

  #menu__hamburger:checked ~ .menu__hamburger-button > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: .5s ease-in-out; }

  #menu__hamburger:checked ~ .menu__box {
    visibility: visible;
    right: 0; } }
@media (max-width: 767.98px) {
  .wrapper-header-inform {
    display: grid;
    justify-content: center; }

  .header-wrapper__title {
    justify-self: center;
    text-align: center;
    max-width: 420px;
    height: 160px;
    font-size: 48px;
    line-height: 70px; }

  .header-wrapper__text {
    text-align: center; }

  .wrapper-popup {
    justify-self: center; } }
@media (max-width: 575.98px) {
  .header-wrapper__title {
    max-width: 350px;
    font-size: 40px;
    line-height: 69px; }

  .header-wrapper__text {
    font-size: 14px;
    max-width: 315px;
    min-height: 69px;
    justify-self: center; } }

/*# sourceMappingURL=style.css.map */
