.wrapper-arrow{
    display: flex;
    gap: 15px;
}

.btn-arrow{
    border: none;
    padding: 0;
    display: flex;
}

.arrow{
    width: 25px;
}

.calendar-date{
    box-sizing: border-box;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 446px;
    border: 1px solid black;
}

.wrapper-calendar{
    border: 1px solid black;
    display: flex;
    width: 434px;
    flex-wrap: wrap;
    padding: 5px;
}

.day{
    border: 1px solid black;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-date{
    border: 1px solid purple;
    width: 60px;
    height: 50px;
}

.color-text{
    color: #b11f1f;
}

.weekend{
    color: #b11f1f;
}