.wrapper-arrow{
    display: flex;
    gap: 15px;
}

.btn-arrow{
    border: none;
    padding: 0;
    display: flex;
}

.arrow{
    width: 25px;
}

.wrapper-calendar{
    display: flex;
    margin: 50px auto;
    border: 1px solid black;
    width: 456px;
    position: relative;
    background: #070707d9;
    z-index: 3;
}

.wrapper-days-of-week{
    display: flex;
    gap: 2px;
    width: 456px;
    padding: 5px 5px 0;
    box-sizing: border-box;
}

.calendar-date-and-btn-arrows{
    box-sizing: border-box;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-with-dates-of-calendar{
    display: flex;
    gap: 2px;
    width: 446px;
    flex-wrap: wrap;
    padding: 5px;
}

.calendar-date{
    color: white;
}

.day{
    border: 1px solid #f7f7f75c;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.block-date{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7f7f75c;
    width: 60px;
    height: 50px;
    font-size: 26px;
}

.block-date:hover{
    transition: .15s;
    border: 1px solid white;
    background: #bdbdbd38;
}

.numbers-of-date{
    color: white;
    font-weight: 600;
}

.color-text{
    color: #b11f1f;
}

.weekend{
    color: #b11f1f;
}

.actual-day-in-month{
    background: #01f70161;
}

.epmty{
    color: #b6b6efa1;
}

.epmty-after{
    color: #b6b6efa1;
}

.popup{
    transition: 1s;
    width: 155px;
    height: 300px;
    background: #00000040;
    position: relative;
    z-index: -1;
    top:0;
    right: 0;
    /*right: 170px;*/

    padding: 0 20px;
    /*visibility: hidden;*/
}

.date-weather{
    font-weight: 600;
    text-align: center;
}

.img-weather{
    text-align: center;
}

.img-weather img{
    margin:-25px 0 ;
    width: 115px;
}

.temperature-weather{
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}

.temperature-feels-like-weather{
    text-align: center;
    margin: 5px 0;
    min-width: 125px;
}

.windy-weather{
    margin: 5px 0;
    text-align: center;
}