@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
p{
    margin: 0;
}

.body{
    margin: 0 auto;

    /*background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%)*/
}
.container {
    margin: 0 auto;
    min-height: 100%;
    width: 1140px;
    padding-top: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    min-height: 768px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

}
.img-header{
    min-height: 768px;
    background-image: url(imgfigma/illustration1.svg);
    background-repeat: no-repeat;
    background-position: 100% 70% ;
}
.logo-note {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo:hover{
    opacity: 0.6;
}
.note:hover{
    opacity: 0.6;
}
/*.box-slogan-img {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.slogan {
    margin-top: 115px;
    margin-bottom: 0;
    width: 504px;

    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 64px;
    line-height: 74px;
    /* or 116% */
    letter-spacing: 0.038em;
    color: #1F3F68;
}

.slogan-text {
    width: 425px;
    min-height: 82px;
    box-sizing: border-box;
    margin-top: 32px;
    /*margin-bottom: 71px;*/
    /*margin: 0 0 71px 114px;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}

.link1-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 71px;
    width: 220px;
    height: 56px;
    text-decoration: none;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.link1-button:hover{
    opacity: 0.6;
}
.link1-button:active{
    background-color: #143056;
}
/*.box-slogan-img{*/
/*    !*display: flex;*!*/
/*    background-image: url(imgfigma/illustration1.svg);*/
/*    background-repeat: no-repeat;*/
/*    background-position: 73% 50%;*/
/*}*/

/*.img-header{*/
/*    margin-left: ;*/
/*}*/

.main {
    margin-bottom: 112px;
}

.slogan2 {
    margin-top: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    /* or 128% */
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.general-blok {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.blok-1 {
    width: 359px;
    min-height: 480px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 43px 32px;
    box-sizing: border-box;
    /*margin: 28px 16px 0 113px;*/
}

.blok-2 {
    width: 359px;
    min-height: 480.13px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 43px 32px;
    box-sizing: border-box;
    /*margin: 28px 16px 0 16px;*/
}

.blok-3 {
    width: 359px;
    min-height: 480.13px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 43px 32px;
    box-sizing: border-box;
    /*margin: 28px 113px 0 16px;*/
}

.img-human-circle {
    /*margin: 43.9px 117.15px 51.38px 69.91px;*/
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    /*border: 1px solid black;*/
    position: relative;
}
.img-human{
    position: absolute;
    right: 0;
}

.heading-1 {
    /*margin: 0 44px 14px 32px;*/
    margin-top: 51px;
    width: 283px;
    height: 55px;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
}

.text-1 {
    /*margin: 0 58.69px 0 32px;*/
    margin-top: 14px;
    width: 268.31px;
    height: 94.2px;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
}

.link2 {
    margin-top: 30px;
    width: 120px;
    height: 27px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    letter-spacing: 0.05em;
    /* blue_04 */
    color: #5A98D0;
}
.link2:hover{
    opacity: 0.6;
}

.slogan3 {
    /*margin: 63.87px 113px 32px 113px;*/
    margin-top: 63px;
    margin-bottom: 32px;
    width: 1140px;
    height: 46px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height, or 128% */
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.text-3 {
    /*margin: 0 308px 64px 308px;*/
    width: 750px;
    height: 72px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.box-img-center {

    margin: 0 auto;
    /*margin: 0 113px 32px 113px;*/
    width: 1140px;
    height: 480px;
    position: relative;
}

.box-img-center:hover{
    opacity: 0.9;
}
.img-center {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    background: #E8E8E8;
    border-radius: 10px;
}

.background {
    width: 1140px;
    height: 480px;
    background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
    position: absolute;
    border-radius: 10px;
}

.svg-img-center {

    position: absolute;
}

.text-on-img {
    /*margin: 64px 64px 304px 678px;*/
    margin-top: 64px;
    margin-right: 64px;
    right: 0;
    width: 398px;
    height: 112px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    /* or 144% */
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.box-2-img {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.box-2 {
    /*margin: 0 16px 112px 113px;*/
    width: 554px;
    height: 417px;
    position: relative;
}
.box-2:hover{
    opacity: 0.9;
}

.img-left {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    border-radius: 10px;
}

.background-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
    border-radius: 10px;
}

.box-3 {
    /*margin: 0 113px 112px 16px;*/
    width: 554px;
    height: 417px;
    position: relative;
}
.box-3:hover{
    opacity: 0.9;
}
.img-right {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    border-radius: 10px;
    background: #E8E8E8;

}

.background-3 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
    border-radius: 10px;
}

.text-on-img-2 {
    /*margin: 32px 339px 339px 32px;*/
    margin: 32px;
    width: 183px;
    height: 46px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    /* identical to box height, or 164% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;

}

.text-on-img-3 {
    /*margin: 32px 264px 339px 32px;*/
    margin: 32px;
    width: 258px;
    height: 46px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    /* identical to box height, or 164% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;

}

.footer {
    padding: 57px 0 64px;
    margin: 0 0 auto;
    min-height: 657px;
    background: #316099;
    box-sizing: border-box;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
}

.footer-box-1 {
    width: 65%;
    min-height: 204px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.footer-h1 {
    margin: 0;
    /*margin: 91px 0 32px 113px;*/
    width: 340.96px;
    height: 92px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    /* or 128% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}

.footer-text {
    /*margin: 0 0 96px 113px;*/
    margin-top: 32px;
    margin-bottom: 96px;
    width: 485px;
    height: 80px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}
.footer-box-2{
    width: 21%;
    display: flex;
}
.footer-button {
    /*margin: 165px 114.37px 170px 0;*/
    margin-top: 33%;
    box-sizing: border-box;
    border: 0;
    width: 236.63px;
    height: 56px;
    background: #5A98D0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer-button:hover{
    opacity: 0.6;
}
.footer-button:active{
    background-color: #143056;
}
/*.line {*/
/*    opacity: 0.4;*/
/*    !* white *!*/
/*    border: 1px solid #FFFFFF;*/

/*}*/

.spisok {
    margin-top: 64px;
    box-sizing: border-box;
    /*width: 1366px;*/
    min-height: 115px;
    /*margin: 0 0 64px 0;*/
    padding: 0;
    display: flex;

    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}
.spacing{
    word-spacing: 16px;
}
li {
    padding-left: 19px;
}

.li-1 {
    /*margin: 64px 32px 64px 113px;*/
    width: 358px;
    height: 48px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}

.li-2 {
    /*margin: 64px 32px 64px 0;*/
    width: 316px;
    height: 26px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}

.li-3 {
    /*margin: 64px 114px 176px 45px;*/
    width: 316px;
    height: 26px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}

.rights {
    /*margin: 0 943px 0 113px;*/

    width: 309px;
    height: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    opacity: 0.4;
}



.box-head-p2 {
    margin-top: 47px;
    width: 100%;
    min-height: 250px;
    /*background: url("imgfigma/MaskGroup.svg"),linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);*/
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: relative;
}

.img-header2{
    position: relative;
}

.header-tittle-text{
    width: 780px;
    height: 150px;
    position: absolute;
}

.tittle{
    margin-top: 50px;
    margin-bottom: 0;
    height: 74px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 74px;
    /* identical to box height, or 168% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.text-header-p2{
    margin-top: 16px;
    width: 780px;
    height: 60px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.main-p2 {
    display: flex;
}

.container2{
    min-width: 940px;
    margin: 0 auto;

}
.box-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form {
    margin-top: 57px;
    margin-bottom: 96px;
    padding: 56px;
    box-sizing: border-box;
    /*margin-top: 57px;*/
    position: relative;
    width: 540px;
    min-height: 800px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.name-form {
    /*margin: 56px 269px 48px 56px;*/

    margin:0 0 16px;
    width: 188px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}

.label {
    margin: 32px 0 8px;
    white-space: pre;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.8;
}

.input {
    /*text-indent: 36px;*/
    /*margin: 0 56px 32px;*/
    width: 428px;
    height: 72px;
    opacity: 0.4;
    /* blue_03 */
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 42px;
}

.input::placeholder {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.04em;
}

.textarea {
    /*margin: 0 56px 72px 56px;*/
    width: 428px;
    height: 144px;
    resize: none;
    padding: 21px 36px 0 36px;
    opacity: 0.4;
    /* blue_03 */
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.04em;
}

.submit {
    border: none;
    margin-top: 72px;
    /*margin: 0 56px 56px;*/
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.submit:hover{
    opacity: 0.6;
}
.submit:active{
    background-color: #143056;
}

.box-left{
    margin-top: 135px;
    width: ;
    height: 668px;
}
.img-p2 {
    /*margin: 135px 101.69px 0 212px;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}

.slogan-contact {
    /*margin: 56px 0 8px 214px;*/
    margin-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}

.slogan-contact-p {
    margin-bottom: 16px;
    /*margin: 40px 0 8px 212px;*/
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}

.slogan-contact-p2 {
    /*margin: 40px 0 8px 212px;*/
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}

.text-p2 {
    /*margin-left: 214px;*/
    margin: 24px 0 40px;
    width: 299px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}
.text-p4{
    margin: 8px 0 8px;
    width: 299px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}
.li-4{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}

.call {
    list-style-image: url("imgfigma/trubka.svg");
}

.network {
    list-style-image: url("imgfigma/setb.svg");
}

.letter {
    list-style-image: url("imgfigma/pisbmo.svg");
}

.map {
    width: 940px;
    height: 480px;
    /*margin: 96px 213px 112px 213px;*/
}