.weather {
    background: url("oblaka-nebo-tuchi-1.jpg") no-repeat;
    margin: 0;
    background-size: cover;
}

.menu {
    width: 100%;
    height: 35px;
    background: #ffffff;
}

.wrapper-input {
    width: 100%;
    height: 55px;
    border: 1px solid black;
    background: #005FF9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text {
    font-weight: 900;
    color: white;
    margin-right: 15px;
    display: contents;
    font-size: 20px;
}

.input-text::before {
    content: url("logotype-@mail.ru.svg");
    margin-right: 10px;
    margin-left: 25px;
}

.input-city {
    width: 100%;
    max-width: 900px;
    height: 25px;
    margin-left: 20px;
    margin-right: 0;
    font-size: 18px;
    outline:none;
    border: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    margin-right: 25px;
    border: none;
    color: #ffffff;
}

.btn img{
    width: 16px;
}

.btn:hover{
    background: #ffc115;
}

.wrapper-black {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background: #333333;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.news-of-weather{
    color: white;
    margin-left: 235px;
    text-decoration: none;
}

.news-of-weather:hover{
    color: rgba(246, 145, 67, 0.81);
}

.wrapper-weather {
    width: 90%;
    height: 185px;
    border: 1px solid black;
    background: #0000006b;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.wrapper-first{
    max-width: 450px;
}

.weather-head {
    height: 44px;
    font-size: 22px;
    color: white;
}

.weather-city {
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    color: white;
    height: 27px;
    margin: 0;
}

.data-now {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: white;
    height: 19px;
    margin: 0;
}

.wrapper-gif-value {
    display: flex;
}

.gif {
    max-height: 100px;
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.gif img {
    width: 100px;
}

.value {
    color: white;
    font-size: 100px;
    height: 100px;
    font-family: Roboto, Arial, sans-serif;
    white-space: nowrap;
    font-weight: 400;
    max-width: 210px;
}

.description{
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 15px;
    margin-left: 10px;
}

.feeling {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: white;
}

.feeling span{
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: #e8e3eb;
}

.wrapper-second{
    font-family: Roboto, Arial, sans-serif;
    color: white;
    font-size: 15px;
    width: 150px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.additional-description-pressure::before{
    content: '';
    /*background-image: url("pressure.png");*/
    background-size: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

.wrapper-weather-5-days{
    height: 300px;
    width: 64%;
    border: 1px solid black;
    background: #0000006b;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0 13px;
}

.day{
    height: 260px;
    width: 180px;
    border: 1px solid white;
}