body{
    background: url("derevo-doski-pol-tekstury.jpg") no-repeat center;
    background-size: cover;
    padding: 20px;
}

.container{
    max-width: 400px;
    border: 2px solid black;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    padding: 2px 0;
    margin: auto;
    background-color: #84858478;
    border-radius: 6px;
}

.tablo{
    height: 100px;
    width: 392px;
    border: 1px solid black;
    font-weight: 600;
    background-color: #fff;
    border-radius: 6px;
    overflow: revert;
    font-size: 28px;
    word-break: break-all;
    position: relative;
}

.show-m{
    color: blue;
    display: inline-block;
    position: absolute;
    right: 9px;
    top: 83px;
    font-weight: 900;
    visibility: hidden;
}

.btn{
    width: 95px;
    height: 100px;
    border: 1px solid #00000042;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    background-color: #fff;
    border-radius: 6px;
}

.btn-member{
    background-color: #474747;
    color: white;
}

.btn:hover{
    background-color: #c8c8ea;
    transition: all 0.2s ease 0s;
}

.delete{
    background-color: #b11f1f;
}

.ravno{
    background: #37c227;
}

